* {
  margin: 0;
  padding: 0;
}

a {
  color: rgb(171, 171, 238);
  text-decoration: none;
}

a:hover {
  color: #f00;
}

header {
  height: 55px;
}

.header-nav {
  background-color: rgb(35, 126, 31);
  position: fixed;
  height: 60px;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

nav {
  margin-right: 10%;
}

#first-block {
  background-image: url("./images/itisme2.jpg");
  background-size: cover;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-container {
  text-align: center;
}

h1 {
  font-size: 100px;
  font-family: serif;
  color: rgb(139, 113, 233);
}

h2 {
  font-size: 60px;
  font-family: serif;
  color: rgb(236, 197, 197);
}

#second-block {
  background-color: #f0f0f0;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.about-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.info-title {
  font-size: 60px;
  font-family: serif;
  margin-bottom: 20px;
  color: rgb(88, 47, 47);
  text-align: center;
}

.info-text {
  font-size: 20px;
  margin-bottom: 20px;
  background-color: cadetblue;
  color: #444;
  width: 30%;
}

.font-small {
  font-size: 15px;
}

#third-block {
  background-color: #b4ee71;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 100px;
}

.about-container3 {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.info-title3 {
  font-size: 60px;
  font-family: serif;
  margin-bottom: 20px;
  background-color: #f6f8f4;
  color: rgb(135, 233, 105);
  width: 30%;
  text-align: center;
}

.line {
  font-size: 20px;
  margin-bottom: 20px;
  color: #444;
  width: 30%;
}
